section#message-area
  .container
    .row
      .col-md-12
        .message-content.wow.fadeInUp
          .hire-content
            h2 HIRE ME FOR YOUR AWESOME PROJECT
            p
              | I am available for Freelance projects that depends on your project value. Hire me and get your project done!
          .hire-btn
            a(href='mailto:rajuahammad73@gmail.com') Hire Me
