doctype html
html
  head
    link(rel='shortcut icon' href='/pub/img/favicon.ico' type='image/x-icon')
    title #{title}
    link(rel='stylesheet', href='/pub/css/animate.css')
    link(rel='stylesheet', href='/pub/css/font-awesome.min.css')
    link(rel='stylesheet', href='/pub/css/bootstrap.min.css')
    link(rel='stylesheet', href='/pub/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.preloader-active