// Header Start
header#header-area.url
  .container
    .row
      .col-md-4
        .header-social-icons
          ul
            - for(var icon in icons)
              li 
                a(href=`${icons[icon]}` target="_blank")
                  - var iconName = `fa fa-${icon}`
                  i(class=iconName)

      .col-md-8
        .menu-icon
          .open-btn
            span
