section#header-bottom.parallax-header
	.header-main.wow.fadeInUp
		.container
			.row
				.col-md-12
					.dispaly-table
						.display-table-cell
							.header-bottom
								h1 #{welcome.greeting},
								h3
									span i'm
									|  #{welcome.name}
								p #{welcome.designation}