section#portfolio-area.section-padding
  .container
    .row
      .col-md-12
        .section-title
          h2 Some Of My Works
    .row
        .col-md-10.col-md-offset-1
            .row
                each portfolio in portfolios
                    .col-md-4.col-sm-6.col-xs-12.port-item
                        .portfolio-single
                            .portfolio-thum
                                img(src=`${portfolio.portImg}`, alt='Raju Ahammad')
                            .portfolio-hover.text-center
                                .port-btn-hvr
                                    a(href='#').image-link
                                        i.fa.fa-search-plus
                                    a(href=`${portfolio.portUrl}` target='_blank')
                                        i.fa.fa-link
                                .port-meta
                                    h4 #{portfolio.title}
                                    p #{portfolio.category}
    .row
        .col-md-12
          .portfolio-btn
            a.btn-loadmore(href='#') Load More
